*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif;
  }
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.top{
    
    background-color: #E1FF8F;
    height: 800px;
}
.top__big-imeg{
    position: absolute;
    right: 0;
}
.top__star2-imeg{
    position: absolute;
    margin-top: 94px;
    left: 63px;

}
.top__star3-imeg{
    position: absolute;
    top: 69px;
    left: 156px;
}
.top__star4-imeg{
    position: absolute;
    top:568px;
    right: 344px;
}
.top__star5-imeg{
    position: absolute;
    right: 455px;
}
.top__content{
    
    padding-top: 196px;
    width: 768px;
    padding-left: 120px;
    padding-right: 120px;
}
.top__title{
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(32, 32, 39);
    padding-bottom: 24px;
}

.top__text{
    color: rgb(32, 32, 39);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    padding-bottom: 48px;
}

.top__btn{
    box-sizing: border-box;
    border: 1px solid rgb(32, 32, 39);
    border-radius: 60px;
    background: rgb(32, 32, 39);
    width: 247px;
    height: 66px;
    padding: 16px 28px;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
    
}

.animation{
    z-index: 2;
    margin-top: 156px;
    height: 90px;
    background-color: rgb(188, 236, 48);
}

.games{
    background-color: #202027;

}

.games__heading{
    color: rgb(255, 255, 255);
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0px;
    text-align: left;
    padding-top: 94px;
}
.games__text{
    color: rgb(255, 255, 255);
    padding-top: 24px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}
.games-box{
    padding-bottom: 144px;
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 32px;
    position: relative;
}
.games-box__imeg{
    position: absolute;
    right: -122px;
    margin-top: -182px;
    z-index: 0;


}
.games-box__star-imeg11{
    position: absolute;
    left: -67px;
    margin-top: 497px;
}
.games-box__star-imeg12{
    position: absolute;
    left: -62px;
    margin-top: 533px;
}
.game{
    z-index: 0;
    border-radius: 30px;
    grid-column: span 4;
    grid-row: span 6;
    background-color: rgb(255, 255, 255);
}
.game:hover{
    transform: scale(1.1);
    transition: 1s;
}
.game__info{
    padding: 32px 32px 32px 36px;
}
.game__big1{
    grid-row: span 7;
}
.game__big2{
    grid-row: span 5;
}

.game__number{
    margin-top: 32px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: rgb(32, 32, 39);
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    border-radius: 52px;
}

.game__name{
   
    color: rgb(32, 32, 39);
    
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
}

.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    background-color: #BDED35;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
}